body {
}
.form{
    width:400px;
    height:400px;
    margin-left:40%;
    margin-bottom:200px;
    margin-top:200px;
   
}
.lblname{
    display:inline-block;
    margin-left:70px;
    margin-top:60px;
}
.txtname{
    display:inline-block;
    margin-top:10px;
    margin-left:70px;
}
.lblpass{
    display:inline-block;
    margin-top:50px;
    margin-left:70px;

}
.txtpass{
    display:inline-block;
    margin-top:10px;
    margin-left:70px;
}

.btn{
    display:inline-block;
    margin-top:50px;
    margin-left:130px;
    border-radius:20px;
    width:130px;
    height:50px;
    outline:none;
    font-family:Arial;
    font-size:25px;
    cursor:pointer;

}
.txtname,.txtpass{ 
    border:none;
    border-bottom:3px solid #000000;
    outline:none;
    width:250px;
    height:40px;
    font-family:Arial;
    background-color:transparent;
    color:black;

}